body,
html {
  height: 100%;
  font: 500 16px/150% Helvetica, sans-serif;
}
body {
  background: #f2f2f2;
}
body,
a {
  color: #646464;
}
* {
  box-sizing: border-box;
}
.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857;
  margin: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background: #fff;
  color: #333;
  text-decoration: none;
  transition: all 280ms linear 0s;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;
}
.btn:active,
.btn:focus {
  outline: 0;
}
.form-group {
  position: relative;
  width: 100%;
  margin: 16px 0;
}
.form-group > .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
}
.form-group > .form-label {
  color: #888;
  position: absolute;
  left: 4px;
  right: 0px;
  top: -8px;
  pointer-events: none;
  transition: all 150ms ease-out 0s;
  font-size: 12px;
}
.form-group > input[type="text"].form-control,
.form-group textarea.form-control {
  border: solid 1px #eee;
  border-width: 0px 0px 1px;
  font: 400 15px/18px sans-serif;
  padding: 12px 4px;
  background: none;
  width: 100%;
  display: block;
}
.form-group > input[type="text"].form-control:focus,
.form-group textarea.form-control:focus {
  border-bottom: solid 1px #0a91f0;
}
.form-group .checkbox,
.form-group .radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-group .checkbox label,
.form-group .radio label {
  display: inline-block;
  min-height: 20px;
  padding-left: 25px;
  margin-bottom: 0px;
  cursor: pointer;
}
.form-group .checkbox input,
.form-group .radio input {
  position: absolute;
  margin: 4px 0px 0px -25px;
  line-height: normal;
  padding: 0px;
}
.sform {
  height: 100%;
}
.sform h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 16px;
  color: #fff;
  background: #0a91f0;
}
.sform-workspace,
.sform-workspace > .center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
.sform-workspace {
  flex-direction: column;
  height: 100%;
}
.sform-workspace > * {
  flex: 0 1 auto;
}
.sform-workspace > .center {
  flex: 1 1 auto;
  flex-direction: row;
}
.sform-workspace > .center > .left {
  width: 300px;
  background: #fff;
  border-right: solid 1px #ddd;
}
.sform-workspace > .center > .canvas {
  flex: 1 1 auto;
}
.sform-workspace > .center > .right {
  border-left: solid 1px #ddd;
  background: #fff;
  width: 300px;
}
.sform-fields section {
  margin: 0 -4px;
  padding: 8px;
}
.sform-fields section .btn {
  width: 120px;
  margin: 8px 8px;
}
.sform-canvas .element-placeholder {
  padding: 8px;
}
.sform-canvas .element-placeholder:hover div {
  background: #eee;
}
.sform-canvas .element-placeholder div {
  border: dotted 1px #ddd;
  padding: 8px;
  text-align: center;
}
.sform-canvas .element {
  position: relative;
  padding: 12px;
}
.sform-canvas .element .form-group {
  margin: 0;
}
.sform-canvas .elements-actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.sform-canvas .elements-actions div {
  float: left;
  line-height: 20px;
  padding: 10px 12px;
  background: #fff;
  border: solid 1px #ddd;
  vertical-align: middle;
  cursor: pointer;
  margin-left: -1px;
}
.sform-canvas .element:hover {
  background: #f5f5f5;
}
.sform-canvas .element:hover .elements-actions {
  display: block;
}
