body,
html {
  height: 100%;
  font: 500 16px/150% Helvetica, sans-serif;
}
body {
  background: #fff;
}
body,
a {
  color: #646464;
}
* {
  box-sizing: border-box;
}
.sform {
  height: 100%;
}
.sform h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 8px 16px;
  color: #000;
}
.sform-workspace,
.sform-workspace > .center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
.sform-workspace {
  flex-direction: column;
  height: 100%;
  background: #F3F3F3;
}
.sform-workspace > * {
  flex: 0 1 auto;
}
.sform-workspace > .header {
  color: #fff;
  background: #0a91f0;
  height: 50px;
  line-height: 50px;
}
.sform-workspace > .header .logo {
  font-size: 24px;
  width: 300px;
  text-align: center;
  display: inline-block;
}
.sform-workspace > .header .actions {
  display: inline-block;
  vertical-align: top;
}
.sform-workspace > .header .actions button {
  padding: 0 8px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  border: none;
  background: transparent;
}
.sform-workspace > .header .actions button:hover {
  background: #0072C6;
}
.sform-workspace > .center {
  flex: 1 1 auto;
  flex-direction: row;
}
.sform-workspace > .center > .left {
  width: 300px;
  border-right: solid 1px #ddd;
}
.sform-workspace > .center > .canvas {
  flex: 1 1 auto;
  background: #fff;
  position: relative;
}
.sform-workspace > .center > .right {
  border-left: solid 1px #ddd;
  width: 300px;
}
.sform-fields section {
  margin: 0 -4px;
  padding: 8px;
}
.sform-fields section .btn {
  width: 120px;
  margin: 8px 8px;
}
.sform-canvas {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sform-canvas .element-placeholder {
  padding: 8px;
}
.sform-canvas .element-placeholder:hover div {
  background: #F3F3F3;
}
.sform-canvas .element-placeholder div {
  border: dotted 1px #ddd;
  padding: 8px;
  text-align: center;
}
.sform-canvas .element {
  position: relative;
  padding: 8px;
  border-bottom: solid 1px #ddd;
}
.sform-canvas .element .form-group {
  margin: 0;
}
.sform-canvas .elements-actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.sform-canvas .elements-actions div {
  float: left;
  line-height: 20px;
  padding: 10px 12px;
  background: #fff;
  border: solid 1px #ddd;
  vertical-align: middle;
  cursor: pointer;
  margin-left: -1px;
}
.sform-canvas .element:hover {
  background: #f5f5f5;
}
.sform-canvas .element:hover .elements-actions {
  display: block;
}
.sform-canvas .element.selected {
  background: #f5f5f5;
}
