@import "./variables.less";

body, html{
    height: 100%;
    font:500 @font-size/150% @font-family;
}
body{
    background: @body-background;
}
body, a{
    color:@body-color;
}
* {
    box-sizing: border-box;
}

.btn{
   cursor: pointer;
   display: inline-block;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.42857;
   margin: 0;
   padding: 6px 12px;
   text-align: center;
   vertical-align: middle;
   white-space: nowrap;
   background: #fff;
   color: #333;
   text-decoration: none;
   transition: all 280ms linear 0s;
   border:none;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;


   &:hover{
       background: #eee;
       box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;

   }
   &:active, &:focus{
       outline:0;
   }
}


.form-group{
    position: relative;
    width: 100%;
    margin:16px 0;

    & > .form-control{
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        background: #fff;
        border:none;
        border-bottom: 1px solid #ddd;
    }

    & > .form-label{
        color: #888;
        position: absolute;
        left: 4px;
        right: 0px;
        top:-8px;
        pointer-events: none;
        transition: all 150ms ease-out 0s;
        font-size: 12px;
    }
    & > input[type="text"].form-control,
        textarea.form-control{
        border: solid 1px #eee;
        border-width: 0px 0px 1px;
        font: 400 15px/18px sans-serif;
        padding: 12px 4px;
        background:none;
        width: 100%;
        display: block;

        &:focus{
            border-bottom:solid 1px @blue;
        }
    }
    & > select{
    }
    .checkbox,
    .radio{
        position: relative;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;

        label{
            display: inline-block;
            min-height: 20px;
            padding-left: 25px;
            margin-bottom: 0px;
            cursor: pointer;
        }
        input{
            position: absolute;
            margin: 4px 0px 0px -25px;
            line-height: normal;
            padding: 0px;
        }
    }
}
s-forms-app{
    height:100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    h4{
        text-transform: uppercase;
        margin:0 0 8px;
        padding:16px;
        color:#fff;
        background: @blue;
    }

    > *{
        margin:16px;
        align-self: stretch;
        background: #fff;

        section{
            padding:16px;
        }
    }
}
s-forms-fields{
    flex:0 1 300px;

    section{
        margin:0 -4px;

        .btn{
            width: 120px;
            margin: 8px 8px;
        }
    }
}
s-forms-workspace{
    flex:1 0 auto;
    align-self: stretch;

    .element-placeholder{
        padding:8px;

        &:hover div{
            background:#eee;
        }

        div{
            border:dotted 1px #ddd;
            padding:8px;
            text-align: center;
        }
    }
    .element{
        position: relative;
        padding:12px;

        .form-group{
            margin:0;
        }
    }
    .element-text{

    }
    .elements-actions{
        display: none;
        position: absolute;
        top:0;
        right: 0;

        div{
            float:left;
            line-height: 20px;
            padding:10px 12px;
            background: #fff;
            border: solid 1px #ddd;
            vertical-align: middle;
            cursor: pointer;
            margin-left:-1px;
        }
    }
    .element:hover {
        background: #f5f5f5;

        .elements-actions{
            display:block;
        }
    }
}
s-forms-settings{
    flex:0 1 300px;
}
