@font-family: Helvetica, sans-serif;
@font-size:   16px;

@body-background: #f2f2f2;
@body-color: #646464;

@button-border-radius: 2px;
@button-color: #333;
@button-padding: 0 6px;
@button-margin: 2px 8px;
@button-line-height: 38px;

@blue2: #4285F4;
@blue: #0a91f0;
